# Временные файлы, сгенерированные компилятором
bin/
obj/

# Visual Studio
.vs/
.vscode/

# Папки и файлы NuGet
*.nupkg
packages/
project.lock.json

# Лог-файлы
*.log

# Конфигурация среды разработки
appsettings.Development.json
launchSettings.json

# Файлы публикации
publish/
wwwroot/

# Системные файлы
Thumbs.db
*.DS_Store

# Кэш инструментов
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Результаты тестов
TestResults/
*.trx
*.coverage

# Файлы Docker
docker-compose.override.yml
